@charset "UTF-8";

html {
    height: 100%;
}

.auth-wrapper {
    min-height: 100vh;
    background: linear-gradient(180deg,
            #5fa8f5 0%,
            #5fa8f5 60%,
            #ffd56a 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-logo {
    width: 120px;
    margin: 0 auto;
    display: block;
}

.auth-description {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

/* .auth-header {
    text-align: center;
    margin-bottom: 32px;
}

.auth-header p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;

} */

.auth-card {
    width: 360px;
    padding: 32px;
    border-radius: 12px;

    background: rgba(80, 80, 80, 0.35);

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.auth-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}


.auth-form {
    width: 100%;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #ffffff;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.login-button {
    width: 50%;
    padding: 12px 0;
    background-color: #e84c4c !important;
    color: #ffffff !important;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.auth-link {
    margin-top: 20px;
    text-align: center;
}

.auth-link a {
    color: #ffffff;
    font-size: 13px;
    text-decoration: underline;
}
